.container {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: var(--boxshadow);
  width: var(--width);
  padding: 20px;
  border-radius: var(--border-radius);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.title {
  line-height: 1.15;
  font-size: 1.3rem;
  text-align: center;
}

.input,
.textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
}

.button {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: progress;
}

.success {
  color: green;
}

.error {
  color: red;
}

.selectContainer {
  display: grid;
  margin: 0 auto;
  padding: 15px 0;
}

.selectLabel {
  margin-bottom: 5px;
}

.select {
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

.select:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
  }
  .smsContainer {
    width: 100%;
  }
}
